# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3

# Virtual environments
myvenvv/
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
